.product i{
	display:block;
	font-size:0.8em;
	font-weight:normal;
	font-style:normal;
}

.product img{
	margin:10px;
}

.product b{
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 0.9em;
}

.product{
	height: 80px;
}

table{
    width: 100%;
}


@media all and (min-width: 650px){

	.rightColumn{
		width:56%;
		float:right;
		margin-left:4%;
	}
	
	.leftColumn{
		width:40%;
		float:left;
	}

}

@media all and ( min-width: 40em ) {
	/* Show the table header rows and set all cells to display: table-cell */
	.tablereflow td,
	.tablereflow th,
	.tablereflow tbody th,
	.tablereflow tbody td,
	.tablereflow thead td,
	.tablereflow thead th {
		display: table-cell;
		margin: 0;
	}
	/* Hide the labels in each cell */
	.tablereflow td .ui-table-cell-label,
	.tablereflow th .ui-table-cell-label {
		display: none;
	}
}
